# Gradle build & wrapper
/gradle/wrapper/
/.gradle/
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
gradlew
gradlew.bat

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / STS
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secret files
*.env
